

body {
    background-color: #0a0a0bd8;
}

header {
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}


/* Barra de navegação */

#navbar {
    align-items: center;
    justify-content:end;
}

.navbar-brand {
    align-items: center;
    font-size: 30px;
}

#title {
    margin: 0;
    text-decoration: none;
    text-decoration-line: none;
}

#logo {
    padding: 0;
    font-size: 50px;
}

/* Corpo */

.dropdown-item:hover{
    background-color: rgba(54, 52, 52, 0.606);
}

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #FFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;

}

#image-movie {
    
    border-radius: 15px;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 30px;

    
}

.link-movie {
    text-decoration: none;
    width: 20px;
}

#navbar input {
    margin-top: 8px;
    height: 40px;
    width: 250px;
    margin-right: 30px;
    margin-bottom: 4px;
}

#navbar button {
    border: none;
    padding: 3px;
    margin: 0 5px;
}

#search-bar {
    position: absolute;
    border-radius: 10px;
    list-style: none;
}

.lista-filmes {
    background: #302b2bf2;
   margin: 0;
   padding: 0;
   font-size: small;
   position: relative;
}

#movies-no {
    border-radius: 8px;
    font-size: small;
    background: #302b2bf2 ;
}

.search-click:hover { 
    background: rgb(72, 69, 69);
}
/* Carrosel */

.carousel-inner {
    display: block;
    text-align: center;
    height: 100%;
    margin: auto;
}

.carousel-inner img {
    
    background-position-y: center !important;
    height: 95%;
    width: 100%;
}

#carrosel-controles {

    color: #ccc;
}

#carrosel-controles img {
    margin: auto;
    display: block;
}

#icone-carrosel {
    font-size: 60px;
}

/* Show */



.background-image{
    margin-top: -80px;
    background-position: center;
    background-size: cover;

}

#image-movie-show{
    border-radius: 15px;
    border: 2px solid rgb(13, 5, 5);
    width: 350px;
    margin-bottom: 20px;
}


#tela-filme {
    margin-top: 80px;
    display: flex;

}

#movie-button{
    width: 280px;
    color: rgb(237, 236, 236);
    font-size:18px;
    letter-spacing: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#button-guest {
    display: block;
}

#tela-filme  ion-icon  {
    font-size: 20px;
    display: flex;
    padding: 4px;
}

#paginafilme {
    margin: 70px 0;
}

#conteudo-filme {
    margin-top: 30px;
    color: #FFF;
    margin-left: 100px;
}

#conteudo-filme p {
    margin-top: 30px;
    margin-bottom: 60px;
}

#trailer {
    margin-top: 30px;
    margin-left: 50px;
}

.image-size {
    width: 300px;
    margin-right: 30px;
}

.img-size {
    margin-bottom: 30px
}

.images-movie {
    text-align: center;
    margin-top: 50px;
    
}

.image-movie {
    display: inline;
    text-align: center;
    align-items: center;
    
    
    
}

.recommendations {

    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    justify-content: center;

}

.movie-recommend {
    width: 150px;
    border-radius:10px;

}

.movie-recommend:hover {
    opacity: .6 ;
    transition: opacity .4s,;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .3s;
}

#image-movie:hover {
    opacity: .7 ;
    transition: opacity .4s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: transform .3s;

}

.fonte {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

.fonte:hover {
    color: orange;
}



/* Dashboard */

h1 {
    color: white;
    margin-top: 160px;
    font-size: 40px;
}

.table {
    color: #FFF;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-acounts-container th {
    width: 25%;
    color: white;

}

#buttons {
    display: flex;
}

.edit-btn {
    display:flex;
    align-items: center;
    margin-right: 10px;
}

/* Update Account */

.form-group{
    color: #FFF;
    margin-bottom: 30px;
}

/* Footer */

footer {
    margin-bottom: 20px;
    color: #FFF;
    border-top: 1px solid #fff;
    padding-top: 15px;
    clear: both;
}


/* Tela Usuarios */

