

body {
    background-color: #0a0a0bd8;
}

header {
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}


/* Barra de navegação */

#navbar {
   
    justify-content:end;
}

.navbar-brand {

    font-size: 30px;
}

#title {
    margin: 0;
    text-decoration: none;
    text-decoration-line: none;
}

#logo {
    padding: 0;
    font-size: 50px;
}

/* Corpo */

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #FFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;

}

#image-movie {
    
    border-radius: 15px;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}

#navbar input {
    margin-top: 8px;
    height: 40px;
    width: 200px;
}

#navbar button {
    border: none;
    padding: 3px;
    margin: 0 5px;
}

#navbar ion-icon{
    margin-top: 3px;
    font-size: 40px;
    border: none;
}

/* Carrosel */

#carrosel-controles {

    color: #ccc;
}

#carrosel-controles img {
    margin: auto;
    display: block;
}

#icone-carrosel {
    font-size: 60px;
}

/* Show */

#image-movie-show{
    border-radius: 15px;
    width: 350px;
    margin-bottom: 20px;
}


#tela-filme {
    margin-top: 80px;
    display: flex;

}

#movie-button{
    width: 280px;
    color: rgb(237, 236, 236);
    font-size:18px;
    letter-spacing: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#button-guest {
    display: block;
}

#tela-filme  ion-icon  {
    font-size: 20px;
    display: flex;
    padding: 4px;
}

#paginafilme {
    margin: 70px 0;
}

#conteudo-filme {
    
    margin-top: -100px;
    color: #FFF;
    margin-left: 100px;
}

#conteudo-filme p {
    margin-bottom: 60px;
}

#trailer {
    margin-top: 30px;
    margin-left: 50px;
}



/* Dashboard */

h1 {
    color: white;
    margin-top: 160px;
    font-size: 40px;
}

.table {
    color: #FFF;
}

.dashboard-title-container {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-acounts-container th {
    width: 25%;
    color: white;

}

#buttons {
    display: flex;
}

.edit-btn {
    display:flex;
    align-items: center;
    margin-right: 10px;
}

/* Update Account */

.form-group{
    color: #FFF;
    margin-bottom: 30px;
}

/* Footer */

footer {
    margin-bottom: 20px;
    color: #FFF;
    border-top: 1px solid #fff;
    padding-top: 15px;
}


/* Tela Usuarios */

