

body {
    background-color: #0a0a0bd8;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
}


/* Barra de navegação */

#navbar {
    align-items: center;
    justify-content:end;
}

.navbar-brand {
    margin-top: 10px;
    align-content: center;
    font-size: 30px;
}

#title {
    margin: 0;
    text-decoration: none;
    text-decoration-line: none;
}

ion-icon {
    padding: 0;
    font-size: 40px;
}

/* Corpo */

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    color: #FFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;

}

/* Cards */

#image-movie {
    
    border-radius: 15px;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}



/* Carrosel */

#carrosel-controles {
    margin-top: 50px;
    color: #ccc;
}

#carrosel-controles img {
    width: 800px;
    margin: auto;
    display: block;
}

/* Show */

#image-movie-show{
    border-radius: 15px;
    width: 350px;
    margin-bottom: 20px;
}


#tela-filme {

    display: flex;

}

#movie-button{
    width: 280px;
    color: rgb(237, 236, 236);
    font-size:18px;
    letter-spacing: 1px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#buttons{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

#button-guest {
    display: block;
}

#tela-filme  ion-icon  {
    font-size: 20px;
    display: flex;
    padding: 4px;
}

#paginafilme {
    margin: 70px 0;
}

#conteudo-filme {
    
    color: #FFF;
    margin-top: 80px;
    margin-left: 100px;
}

#conteudo-filme p {
    margin-bottom: 60px;
}

#trailer {
    margin-top: 30px;
    margin-left: 50px;
}

/* Tela de usuario */

#userarea h1 {
    color: white;
    border-bottom: 1px solid white;

}

#userarea {
    margin-bottom: 100px;
}



/* Footer */

footer {
    clear: both;
    margin-bottom: 20px;
    color: #FFF;
    border-top: 1px solid #fff;
    padding-top: 15px;
}


/* Tela Usuarios */

